/* about.module.css */

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  background-color: var(--fourth-color);
  gap: 20px;
}

.image {
  height: 200px;
  width: auto;
}
