.container {
  width: 500px;
  margin: auto;
  padding: 30px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  padding: 10px;
  font-size: 2rem;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  color: var(--third-color);
  border-radius: 5px;
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 1.5rem;
  color: var(--third-color);
  font-weight: bold;
}

.input {
  display: block;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 15px; 
  background-color: white;
  outline: none;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}


.input:focus {
  border-color: #4A90E2; 
  box-shadow: 0 0 0 2px rgba(89, 142, 202, 0.5);
}

.btnSubmit {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--fourth-color);
  font-weight: bold;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  gap: 10px;
}


.btnSubmit:hover {
  background-color: var(--third-color);
  cursor: pointer;
}

